{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href='{% static "css/header-footer.css" %}' />
        <link
            rel="stylesheet"
            href='{% static "css/fontawesome-free-6.2.0-web/css/brands.css" %}'
        />
        <link
            rel="stylesheet"
            href='{% static "css/fontawesome-free-6.2.0-web/css/fontawesome.css" %}'
        />
        <link
            rel="stylesheet"
            href={% static "css/fontawesome-free-6.2.0-web/css/solid.css" %}
        />
        <title>Smart Content</title>
    </head>
    <body>
        <header id="header">
            <div class="logo">
                <img
                    src='{% static "website content/photos/logo.png" %}'
                    alt="smart content"
                />
            </div>
            <div class="nav">
                <ul id="links">
                    <li class="active" id="home-btn">Home</li>
                    <li id="about-btn">About</li>
                    <li id="services-btn">Services</li>
                    <li id="projects-btn">Projects</li>
                    <li id="contact-btn">Contact Us</li>
                </ul>
            </div>
            <div class="buttons">
                <button class="lang">
                    <i class="fa-solid fa-earth-americas"></i>
                    <span class="content">
                        <a href=""><span class="en active">En</span></a>
                        <a href=""><span class="ar">ع</span></a>
                    </span>
                </button>
                <button class="blog">
                    <i class="fa-solid fa-blog"></i>
                    <span class="content"
                        ><a href="{% url 'home:blog' %}"><span>Blog</span></a></span
                    >
                </button>
                <button class="lib button-hoverable"><a href="">Online Library</a></button>
            </div>
            <div class="toggle" id="toggle">
                <span class="list-button"></span>
            </div>
            <div class="bottom"></div>
        </header>
        <div class="about">
            <h2>
                Knowledge will bring you the <br />
                opportunity to make
                <span>Difference</span>
            </h2>
            <p>
                Online learning is not only watching videos, it's a completely
                interactive journey to ensure the best gain of knowledge in the
                best way. Contact us to see another level of E-Learning.
            </p>
            <button class="contact button-hoverable">Contact Us</button>
        </div>
        <div class="know" id="about-div">
            <div class="hider"></div>
            <h2>know who we are</h2>
            <p>
                We are a group of multitalented members who believe in human
                development and integrating technology in any learning
                experience. We believe that continuous learning is the only way
                for community growth. Our team is a mix of instructional
                designers, graphic designers, developers, and more. One of our
                favorite quotes is
                <span
                    >“If you have knowledge, let others light their candles in
                    it - Margaret Fuller.”</span
                >
            </p>
        </div>
        <div class="projects" id="projects-div">
            <h2>Top 5 Projects</h2>
            <p>
                We Successfully completed <span>150 Projects</span> in just
                <span>3 years</span>
            </p>
            <div class="projects-container">
                <div class="project animated show-from-left" id="k">
                    <img
                        src={% static "website content/photos/crime-scene.png" %}
                    />
                    <a href=""
                        ><button><span>Crime scene</span></button></a
                    >
                </div>

                <div class="project animated show-from-right">
                    <img
                        src={% static "website content/photos/gamified-quiz.png" %}
                    />
                    <a href=""
                        ><button><span>Gamified quiz</span></button></a
                    >
                </div>

                <div class="project animated show-from-left">
                    <img
                        src={% static "website content/photos/future-shaping.png" %}
                    />
                    <a href=""
                        ><button><span>Future shaping</span></button></a
                    >
                </div>

                <div class="project animated show-from-right">
                    <img
                        src={% static "website content/photos/game-for-kids.png" %}
                    />
                    <a href=""
                        ><button><span>Game for kids</span></button></a
                    >
                </div>

                <div class="project animated blow-up">
                    <img
                        src={% static "website content/photos/leadership.png" %}
                    />
                    <a href=""
                        ><button><span>Leadership</span></button></a
                    >
                </div>
            </div>
        </div>
        <div class="services" id="services-div">
            <h2>Our services</h2>
            <div class="services-container">
                <div class="service">
                    <p class="content">
                        Learning Management System(LMS) configuration
                    </p>
                </div>

                <div class="service">
                    <p class="content">Content Writing storyboard writing</p>
                </div>

                <div class="service">
                    <p class="content">Customized content development</p>
                </div>

                <div class="service">
                    <p class="content">Animation videos</p>
                </div>

                <div class="service">
                    <p class="content">
                        Augmented Reality & Virtual Reality customized learning
                        experience
                    </p>
                </div>

                <div class="service">
                    <p class="content">Online e-Course library</p>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <h2>Testimonial</h2>
            <div class="testimonial-container" id="testimonial-container">
                <div class="content">
                    <img src={% static "website content/photos/Nasser.jpg" %} alt="" />
                    <h3>Nasser Adji</h3>
                    <h5>Operation manager at IT Corner</h5>
                    <p>
                        After 3 years of collaboration and 60+ Successfully
                        completed and delivered e-learning projects I can say
                        without a doubt that Marwa is one of the best
                        collaborators I have ever had the pleasure to partner
                        and work with.
                    </p>
                </div>
                <div class="content">
                    <img src={% static "website content/photos/Esraa.jpeg" %} alt="" />
                    <h3>Esraa Saleh</h3>
                    <h5>Founder at Super abla</h5>
                    <p>
                        I believe that my experience with Smart Content is
                        super. They gave me lots of solutions in my journey
                        while building my platform. They know their job well and
                        have unlimited resources when it comes to content
                        development.
                    </p>
                </div>
                <div class="content">
                    <img
                        src={% static "website content/photos/Islam Kasem.jpg" %}
                        alt=""
                    />
                    <h3>Eslam Kassem</h3>
                    <h5>E-Learning consultant at tools and solutions</h5>
                    <p>
                        At first, I wasn't sure that this team could make this
                        tough mission done. I asked them to support me in
                        developing a project and the deadline was only 3 weeks.
                        With all calculations this was not easy, I found a daily
                        improvement in the project from their side and they
                        completed the mission successfully and met the deadline.
                    </p>
                </div>
                <div class="content">
                    <img src={% static "website content/photos/Ahmed.png" %} alt="" />
                    <h3>Ahmed Alla</h3>
                    <h5>CEO at Zawaia</h5>
                    <p>
                        Smart Content worked with us as consultants in
                        transforming all of our learning content to interactive
                        digital content in ZAWAYA. We believe that e-Learning is
                        the future and I liked their spirit and their unlimited
                        solutions when it comes to digital transformation.
                    </p>
                </div>
            </div>
            <div class="navigation">
                <div class="prev" onclick="slideStep('decrease');">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="trails">
                    <span class="trail active" data-order="0"></span>
                    <span class="trail" data-order="1"></span>
                    <span class="trail" data-order="2"></span>
                    <span class="trail" data-order="3"></span>
                </div>
                <div class="next" onclick="slideStep('increase');">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="grow" id="contact-div">
            <h2>Ready to <span>Grow</span> with us ?</h2>
            <div class="container">
                <button class="button-hoverable contact">Contact us now</button>
                <button class="button-hoverable lib">Go to library</button>
            </div>
        </div>
        <footer>
            <div class="content">
                <div class="contact-list">
                    <div class="facebook">
                        <span class="icon"
                            ><i class="fa-brands fa-facebook-f"></i
                        ></span>
                        <a
                            href="https://www.facebook.com/Smart-Content-110298004595201"
                            target="blank"
                            class="details"
                            >Smart Content @facebook</a
                        >
                    </div>
                    <div class="linked">
                        <span class="icon"
                            ><i class="fa-brands fa-linkedin-in"></i
                        ></span>
                        <a
                            href="https://www.linkedin.com/company/smartcontent1/"
                            target="blank"
                            class="details"
                            >Smart Content @linkedin</a
                        >
                    </div>
                </div>
                <div class="logo">
                    <img
                        src={% static "website content/photos/logo.png" %}
                    />
                </div>
            </div>
        </footer>
        <script src={% static "js/animation.js" %}></script>
        <script src={% static "js/jquery-3.6.0.min.js" %}></script>
        <script src={% static "js/slider.js" %}></script>
        <script src={% static "js/home.js" %}></script>
        <script src={% static "js/header-footer.js" %}></script>
    </body>
</html>
